.fundo{
    width: 100%;
    height: 500px;
    margin-top: 500px;
    
}


.imagem img{
    width: 900px;
    height: 900px;
    margin-left: 200px;
    margin-top: -240px;

 
}

.imagem p{
    font-family: poppins-light;
    position: absolute;
    width: 300px;
    top: 360px;
    right: 2px;
    left: 300px;
    font-size: 32px;
    color: #ebe6e6;
    margin-top: -210px;

  
}

.imagem{
    display: inline-block;
    position: relative;
}

@media (min-width: 320px) and (max-width: 480px){
    .imagem img{
        width: 100%;
        margin-left: -100px;
    }
}