.fundo{
    width: 100%;
    height: 800px;
    margin-top: 500px;
    
}


.imagem img{
    width: 900px;
    height: 900px;
    margin-left: 200px;

 
}

.imagem p{
    font-family: poppins;
    position: absolute;
    width: 300px;
    top: 360px;
    right: 2px;
    left: 300px;
    font-size: 32px;
    color: #ebe6e6;

  
}

.imagem{
    display: inline-block;
    position: relative;
}