header {
    width: 100%;
    height: 100px;
  

}

nav{
    display: flex;
    
}

.logo img {
    position: relative;
    width: 150px;
    height: 150px;
    margin-top: 50px;
    margin-left: 30px;

}

ul {
    width: 1000px;
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 100px;
    margin-top: 20px;

}


@font-face {
    font-family: poppins;
    src: url(../fontes/Poppins/Poppins-Regular.ttf);
}

a {
    font-family: poppins-light;
    text-decoration: none;
    color: #fff;
    padding-block: 16px;

}

li {
    font-family: poppins;
    font-size: 25px;
    color: #fff;
}

li:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    cursor: pointer;

}

li a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -4px;
    right: 1px;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

li a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom;
}

.menu {
    width: 85%;
    height: 80px;
}

.mobilemenuicon{
    display: none;
}

.mobilemenu{
    display: none;
}

@media screen and (max-width: 768px) {
    .login {
        display: none;
    }
    .mobilemenuicon {
        display: block;

    }

    .mobilemenu{
        width: 80%;
        position: absolute;
        z-index: 10;
    }

    .mobilemenuicon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    ul li{
        display: none;
    }

    .mobilemenu ul {
        width: 80%;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
        background-color: #113171;

        border-radius: 50px;
    }
    .mobilemenu .navitem {
        display: block;
        padding-top: 1.2rem;
    }
    .mobilemenu .loginbutton {
        display: block;
        padding: 1rem 2rem;
    }
    .mobilemenu .loginbutton button {
        width: 100%;
    }
    .open {
        display: block;
        display: flex;
        justify-content: center;
    }

    }
